{% extends "extend/base.html" %}
{% load static %}
{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1>YOUR IDEAL ROOM AWAITS</h1>
            <p>Explore a curated selection of rooms designed to suit your needs and lifestyle</p>
            <a class="explore-btn" href="{% url 'detail_room' %}" >EXPLORE NOW</a>
        </div>
    </section>

    <section class="featured-rooms">
        <h2>Featured Rooms</h2>
        <div class="room-grid">
            {% for room in featured_rooms %}
            <div class="room-card">
                <img src="{{room.room_img.url}}"
                    alt="Single room at Syanja">
                <div class="room-info">
                    <h3>{{room.title}}</h3>
                    <p>{{room.description}}</p>
                    <div class="price-book">
                        <div class="price">₨{{room.rent}}</div>
                        {% if user.is_authenticated %}
                        <a href="{% url 'single_room_detail' room.room_slug %}" class="book-btn">More Info</a>
                        {% else %}
                        <a href="{% url 'single_room_detail' room.room_slug %}"  data-bs-toggle="modal" data-bs-target="#loginModal" class="book-btn">More Info</a>
                        {% endif %}
                       
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    {% if user.is_authenticated %}
        <a href="{% url 'detail_room' %}" class="view-more-btn">View More</a>
    {% else %}
        <a href="" class="view-more-btn" data-bs-toggle="modal" data-bs-target="#loginModal">View More</a>
    {% endif %}
    </section>

    {% if not user.is_authenticated %}
    <section class="cta-section">
        <h2>Ready to get Started?</h2>
        <p>Join our Community of Room seekers and Room sellers</p>
        <a class="join-btn" href="{% url 'register_option' %}">Join Now</a>
    </section>
    {% endif %}

    <section class="how-it-works-seller">
        <h2>How It Works for Sellers</h2>
        <p>Roomify also provides a seamless platform for room owners and sellers to list their properties and connect
            with potential renters.</p>
        <div class="steps">
            <div class="step">
                <i class="fas fa-upload"></i>
                <h3>Upload Your Room</h3>
                <p>Simply upload your room details with high-quality photos and descriptions. We'll make it visible to
                    potential renters immediately.</p>
            </div>
            <div class="step">
                <i class="fas fa-users"></i>
                <h3>Connect with Renters</h3>
                <p>Once your room is listed, you will be able to receive inquiries and connect with interested renters.
                </p>
            </div>
            <div class="step">
                <i class="fas fa-handshake"></i>
                <h3>Complete the Booking</h3>
                <p>Finalize the rental agreement and start making a positive impact in the community by offering a great
                    living space.</p>
            </div>
        </div>
    </section>

    <section class="cities">
        <h2>Explore Our Services Across Cities</h2>
        <p>Your City, Our Services – The Perfect Match!</p>
        <div class="cities-grid">
            {% for city in cities %}
            {% if user.is_authenticated %}
            <a href="{% url 'detail_room' %}?city={{ city.id }}" class="city-card">{{city.city}}</a>
            {% else %}
            <a href="" data-bs-toggle="modal" data-bs-target="#loginModal" class="city-card">{{city.city}}</a>
            {% endif %}
            {% endfor %}

        </div>
    </section>

{% endblock content %}

