
<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>About Us</h3>
            <p>Roomify is your trusted platform for finding and renting rooms with ease. Whether you're a room
                seeker searching for a place or a seller looking to list property, we provide a seamless and secure
                experience.</p>
        </div>
        <div class="footer-section">
            <h3>Quick Links</h3>
            <a href="#">Home</a>
            <a href="#">Shop</a>
            <a href="#">Contact</a>
            <a href="#">FAQs</a>
        </div>
        <div class="footer-section">
            <h3>Contact</h3>
            <p>Email: jsonvai@gmail.com</p>
            <p>Phone: +977 9847621097</p>
            <div class="social-links">
                <a href="https://www.facebook.com/joshan.bhari"><i class="fab fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/jessan-bhari-1b7436286/"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/jessan.10/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        © 2025 Roomify Reserved.
    </div>
</footer>
</body>

</html>